doctype html
html
    head
        title= '人人币交易平台-商品列表'
        script(type="text/javascript",src="/public/javascripts/jquery.pack.js")
        link(rel='stylesheet', href='/public/stylesheets/all.css')
        link(rel='stylesheet', href='/public/stylesheets/style.css')
    body
        include header
        div.block10.w.l
        div.w1016.c
            div.w.l.typelist
                div.pos.l.f12
                    a(href="/")人人币交易平台首页
                    a(href="/")
                    &lt;共
                    em="18万"
                    span="件商品"
                dl.l.f12.td1.mtop5
                    dt.tn.l 商品分类
                        dd.tl.l
                            ul.w.l.lile
                                li
                                    if(!categoryId)
                                        a(href='#',style="background: #fdf0f3")="全部"
                                    else
                                        a(href='/')="全部"
                                each category in categorys
                                    li
                                        if(categoryId!=category._id.toString())
                                            a(href='/'+category._id)=category.categoryName
                                        else
                                            a(href='#',style="background: #fdf0f3")=category.categoryName


        div.block10.w.l
        div.w1016.c
                div.goodlist.l
                    each category in categorys
                        if(category.prodects.length>0)
                            div.category.clear
                                span.categoryName=category.categoryName
                                ul.w.l.lili.lile.f12
                                    each prodect,index in category.prodects
                                            if(index % 4 == 0)
                                                li
                                                    div.pic.w.l
                                                        a(href="/prodect/" + prodect._id)
                                                            img(src=prodect.img[0])
                                                    div.hits.w.l
                                                        span.l
                                                            label=prodect.price
                                                    div.g_title.w.l
                                                        a(href="/prodect/" + prodect._id)
                                                            h3=prodect.prodectName
                                            else
                                                li.ce
                                                    div.pic.w.l
                                                        a(href="/prodect/" + prodect._id)
                                                            img(src=prodect.img[0])
                                                    div.hits.w.l
                                                        span.l
                                                            label=prodect.price
                                                    div.g_title.w.l
                                                        a(href="/prodect/" + prodect._id)
                                                            h3=prodect.prodectName
        if(errorMsg)
            div.w1016.c
                div.goodlist.l
                    div.category.center(style="margin-bottom:5px")
                        span.categoryName=errorMsg

        include footer



