doctype html
html
    head
        title= '人人币交易平台-个人中心'
        link(rel='stylesheet', href='/public/stylesheets/all.css')
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        link(rel='stylesheet', href='/public/javascripts/themes/bootstrap/easyui.css')
        link(rel='stylesheet', href='/public/javascripts/themes/icon.css')
        link(rel='stylesheet', href='/public/stylesheets/raty/jquery.raty.css')

        script(type="text/javascript",src="/public/javascripts/jquery.min.js")
        script(type="text/javascript",src="/public/javascripts/jquery.easyui.min.js")
        script(type="text/javascript",src="/public/javascripts/jquery.raty.js")
        script(type="text/javascript",src="/public/javascripts/cart.js")
    body
        include raty
        include header
        div.block10.w.l
        div.w1016.c
            div.w.l.goodshow
                div.w.l.typelist
                    div.pos.l.f12
                        a(href="/")人人币交易平台首页
                        &nbsp;&gt;&nbsp;
                        a(href='#')="个人中心"
                        if(jobNo)
                            &nbsp;&gt;&nbsp;
                            a(href="javasrcipt:void(0)",onclick="logout()")="工号 "+jobNo
            div.good_con.w.l
                div.good_xx(style="width:100%")
                    ul.basicTitle
                        li.current(index=1)
                            span="未完成订单"
                        li(index=2)
                            span="历史订单"
                        li(index=3)
                            span="我的收藏"
                        li(index=4)
                            span="我的评价"
                    mixin orderHead
                        dl.orderInfo(style="height:35px;min-height:0px")
                            dt
                                span.center(style="width:510px;display:inline-block")="订单详情"
                                span.center(style="width:120px;display:inline-block")="收货人"
                                span.center(style="width:120px;display:inline-block")="金额"
                                span.center(style="width:120px;display:inline-block")="状态"
                                span.center(style="width:120px;display:inline-block")="操作"
                    mixin orderInfo(order)
                        dl.orderInfo(orderId=order._id)
                            dt
                                span.time=order.createTimeCN
                                span.id="订单号："+order._id
                                if(order.logistical=="1")
                                    span.logistical="送货-"+order.addess.name
                                else
                                    span.logistical="自提"
                                if(order.status==-1||order.status==1||order.status==2)
                                    a.btn.r.mtop3(href="/order/delOrder/"+order._id)="删除"
                                each prodect,index in order.prodectList
                                    dd.clear
                                        img(src=prodect.prodectId.img[0])
                                        p.prodectName="商品名称:"
                                            a(href="/prodect/" + prodect.prodectId._id)=prodect.prodectId.prodectName
                                        a=prodect.price.toFixed(2)+" ×"+prodect.count
                                dd.float.name=order.name
                                    br
                                    span=order.dept.name
                                dd.float.total="总价 ￥"+order.money.toFixed(2)
                                case order.status
                                    when -1: dd.float.status="已取消"
                                    when 0: dd.float.status="等待发货"
                                                br
                                                a(href="javasrcipt:void(0)",onclick="cancalOrder('"+order._id+"')")="取消订单"
                                    when 1: dd.float.status="已完成"
                                    when 2: dd.float.status="已评价"
                                    default: dd.float.status="已删除"
                                dd.float.evaluate
                                    if(order.status==1)
                                        a(href="javasrcipt:void(0)",onclick="pingjian('"+order._id+"')")="评价"
                                        br
                                    a.btn(onclick="buy('"+order._id+"')")="再次购买"
                    div(tabIndex=1)
                        div.goodshow.orderList
                            +orderHead
                            each order in orders
                                if(order.status==0)
                                    +orderInfo(order)
                    div(tabIndex=2)
                        div.goodshow.orderList
                            each order in orders
                                if(order.status!=0)
                                    +orderInfo(order)
                    div.good_child_list(tabIndex=3)
                        ul.likes
                            each prodect in likes
                                li.clear
                                    a(href="/prodect/" + prodect._id)
                                        img(src=prodect.img[0])
                                        span=prodect.prodectName
                                    a(href="/me/cancelLike/" + prodect._id)
                                        span="取消收藏"

                    div.good_child_list(tabIndex=4)
                        ul.evaluate
                            each evaluate in evaluates
                                li.clear
                                    span.title(style="width:300px")
                                        span="商品:"
                                            a(href="/prodect/"+evaluate.prodectId._id)=evaluate.prodectId.prodectName
                                        +raty(evaluate.level)
                                        a(href="#"+evaluate.orderId,orderInfo="true",style="margin-left:15px")="查看订单"
                                        span="时间:"+ evaluate.createTimeCN
                                    span.content=evaluate.content


        include footer
        script.
            var orders=!{JSON.stringify(orders)};
            var cart=new cart();
            function buy(id){
                for(var i=0;i<orders.length;i++){
                    if(orders[i]._id==id){
                        var order=orders[i]
                        for(var j=0;j<order.prodectList.length;j++){
                            cart.addProdect(order.prodectList[j].prodectId._id,order.prodectList[j].count,order.prodectList[j].price);
                        }
                        window.location="/cart";
                        break;
                    }
                }
            }
            function cancalOrder(id){
                if(id){
                    $.messager.confirm("提示","您确定取消该订单吗？",function(r){
                        if(r){
                            $.post("/order/cancalOrder",{"id":id},function(data){
                                if(!data.message){
                                    window.location.reload();
                                }else{
                                    $.messager.alert("错误",data.message,"error");
                                }
                            })
                        }
                    })
                }
            }

            $("ul.basicTitle li").click(function(){
                $("ul.basicTitle li").removeClass("current");
                var index=$(this).addClass("current").attr("index");
                $("div[tabIndex]").each(function(){
                    if($(this).attr("tabIndex")==index){
                        $(this).show();
                    }else{
                        $(this).hide();
                    }
                })
            })

            var jobNO='!{jobNo}';
            $(function(){
                if(jobNO==''){
                    login()
                }
                $("a[orderInfo]").click(function(){
                    var id= $(this).attr("href").replace("#","");
                    if(id){
                        $("li[index=2]").click();
                        $("dl[orderid="+ id +"]").css("border-color","red");
                        $("body").scrollTop($("dl[orderid="+id+"]").offset().top);
                        setTimeout(function(){
                           $("dl[orderid="+ id +"]").css("border-color","#CCCCCC");
                        },2000);
                    }
                })
            })
            function login(){
                $.messager.prompt('提示信息', '请输入你的工号：', function (r) {
                    if (r) {
                        if(!/^[0-9]{8}$/.test(r)){
                            return $.messager.alert("提示","工号必须为8位数字!","warning",login)
                        }
                        $.post("/me/login",{"jobNo":r},function(data){
                            if(data.errMsg){
                                $.messager.alert("错误",data.errMsg,"error",login);
                            }else{
                                window.location.reload();
                            }
                        })
                    }else{
                        login()
                    }
                });
            }
            function logout(){
                $.messager.confirm("提示", "您确定更换工号吗？", function (r) {
                    if (r) {
                        $.post("/me/logout", function (data) {
                            if (!data.errMsg) {
                                login();
                            } else {
                                $.messager.alert("错误", data.errMsg, "error");
                            }
                        })
                    }
                })
            }

            function pingjian(id){
                $("#Evaluate").remove();
                $("body").append("<div id='Evaluate' style='padding: 5px 10px'></div>")
                $('#Evaluate').dialog({
                    title:"评价",
                    height:225,
                    width:400,
                    buttons:[{
                        text:'提交',
                        handler:function(){
                            var prodectId=$("#Evaluate select[name=prodectId]").val();
                            var leveal=$("#Evaluate input[name=leveal]").val();
                            var content=$("#Evaluate textarea").val();
                            $.post("/order/evaluate",{"prodectId":prodectId,"leveal":leveal,"content":content,"orderId":id},function(data){
                                if(!data.message){
                                    $('#Evaluate').dialog("destroy")
                                    window.location.reload();
                                }else{
                                    alert(data.message);
                                }
                            })
                        }
                    },{
                        text:'关闭',
                        handler:function(){$('#Evaluate').dialog("destroy")}
                    }]
                })
                var html = '<table><tr><td>商品：</td><td><select name="prodectId">';
                for(var i=0;i<orders.length;i++){
                    if(orders[i]._id==id){
                        var order=orders[i]
                        for(var j=0;j<order.prodectList.length;j++){
                            if(order.prodectList[j].evaluateId){
                                continue;
                            }
                            html+="<option value='"+order.prodectList[j].prodectId._id+"'>"+order.prodectList[j].prodectId.prodectName+"</option>"
                        }
                    }
                }



                html+="</select></td></tr><tr><td>评分：</td><td><div id='Evaluate_raty'></div><input type='hidden' name='leveal' id='leveal' value='0' /></td></tr><td>评价：</td><td><textarea maxlength='500' style='width:320px;height: 80px'></textarea></td></tr></table>";
                $('#Evaluate').append(html);

                $("#Evaluate_raty").raty({
                    targetScore: '#leveal',
                    cancel: true
                });

            }
