doctype html
html
    head
        title= '人人币交易平台-个人中心'
        link(rel='stylesheet', href='/public/stylesheets/all.css')
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        link(rel='stylesheet', href='/public/javascripts/themes/bootstrap/easyui.css')
        link(rel='stylesheet', href='/public/javascripts/themes/icon.css')
        script(type="text/javascript",src="/public/javascripts/jquery.min.js")
        script(type="text/javascript",src="/public/javascripts/jquery.easyui.min.js")
        script(type="text/javascript",src="/public/javascripts/cart.js")
    body
        include header
        div.block10.w.l
        div.w1016.c
            div.w.l.goodshow
                div.w.l.typelist
                    div.pos.l.f12
                        a(href="/")人人币交易平台首页
                        &nbsp;&gt;&nbsp;
                        a(href='#')="个人中心"
            div.good_con.w.l
                div.good_xx.l
                    ul.basicTitle
                        li.current(index=1)
                            span="未完成订单"
                        li(index=2)
                            span="历史订单"
                        li(index=3)
                            span="我的收藏"
                        li(index=4)
                            span="我的评价"
                    div.details(tabIndex=1)
                        ul.suxing
                            li="商品介绍:"
                        div.xianqing.top10
                            div.l.xianqing_et
                                div.l.xianqing_tie.f14="宝贝详情"
                                div.l.xianqing_nr.f14

                    div.good_child_list(tabIndex=2)="22222222222222222222222"
                    div.good_child_list(tabIndex=3)="33333333333333333333333"
                    div.good_child_list(tabIndex=4)="44444444444444444444444"
        include footer
        script.
            $("ul.basicTitle li").click(function(){
                $("ul.basicTitle li").removeClass("current");
                var index=$(this).addClass("current").attr("index");
                $("div[tabIndex]").each(function(){
                    if($(this).attr("tabIndex")==index){
                        $(this).show();
                    }else{
                        $(this).hide();
                    }
                })
            })
            var cart=new cart();