doctype html
html
    head
        title= '人人币交易平台-商品详情'
        link(rel='stylesheet', href='/public/stylesheets/all.css')
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        link(rel='stylesheet', href='/public/javascripts/themes/bootstrap/easyui.css')
        link(rel='stylesheet', href='/public/javascripts/themes/icon.css')
        script(type="text/javascript",src="/public/javascripts/jquery.min.js")
        script(type="text/javascript",src="/public/javascripts/jquery.easyui.min.js")
        script(type="text/javascript",src="/public/javascripts/cart.js")
    body
        include header
        div.block10.w.l
        div.w1016.c
            div.w.l.goodshow
                div.w.l.typelist
                    div.pos.l.f12
                        a(href="/")人人币交易平台首页
                        &nbsp;&gt;&nbsp;
                        a(href='#')="提交订单"
        div.w.l.good_info.mtop10
        br
        div.w1016.c
            h2="填写并核对订单信息"
            div.tabBox.w.l(style="border-bottom:0;")
                form#orderForm
                    ul.orderInfo
                        li
                            h3.title= "收货人信息"
                            div
                                label.title="工号:"
                                input.textBox(type="text",name="jobNO",value=jobNo)
                                label.title="姓名:"
                                input.textBox(type="text",name="name")
                                label.title="部门:"
                                select#dept(name="dept")
                        //li
                        //    h3.title= "订单类型:"
                        //    div
                        //        label.title= "请选择订单类型:"
                        //        label.inputLabel.pr15
                        //            input(type="radio",name="type",value="1",checked=true)
                        //            ="自用"
                        //        label.inputLabel
                        //            input(type="radio",name="type",value="0")
                        //            ="送人"
                        li
                            h3.title= "收货方式"
                            div
                                label.title= "请选择收货方式:"
                                label.inputLabel.pr15
                                    input(type="radio",name="logistical",value="0",checked=true)
                                    ="自提"
                                label.inputLabel
                                    input(type="radio",name="logistical",value="1")
                                    ="送货"
                        li#addess(style="display:none")
                            h3.title= "收货地址"
                            div
                                label.title= "请选择收货地址:"
                                select#addessCombo(name="addess",data-options="")
                                    //option(value="")="请选择"
                                    each item in addessList
                                        option(value=item._id)=item.name
                        li#since
                            h3.title= "自提说明"
                            div=selfAddess
                        li
                            h3.title= "商品信息"
                            div.goodshow
                                table.prodectTable(cellspacing="0",style="border-top: 1px solid #ccc;border-left: 1px solid #ccc;")
                                    tr
                                        th.left.pl5.leftBorder(style="width: 550px")="商品"
                                        th.right(style="width: 120px")="价格数量"
                                        th.right(style="width: 100px")="库存"
                                        th.right.pr10.rightBorder(style="width: 80px")="小计"
                                    tr.br
                                        td(colspan="4",style="border-width: 2px")
                                    each prodect in prodects
                                        tr.item
                                            td.leftBorder(style="padding-left:10px")
                                                img(src=prodect.img)
                                                p.prodectName="商品名称:"
                                                    a(href="/prodect/"+prodect.prodectId)=prodect.prodectName
                                                p.prodectName.categoryName="商品分类:"
                                                    a(href="/"+prodect.categoryId)=prodect.categoryName
                                            td.right.vtop.ptop20.price
                                                span(style="color:#e54346;margin-right:12px")=prodect.price.toFixed(2)
                                                ="×"+prodect.count
                                            td.right.vtop=prodect.stock
                                            td.right.vtop.ptop20.subtotal(style="padding-right:10px")=(prodect.price*prodect.count).toFixed(2)
                                    tr.br
                                        td.mg-r-5(style="padding:1px 3px;")
                                            ="下单留言:"
                                            textarea(name="remark",style="width:590px;float:right;height:51px;line-height:17px",maxlength="500")
                                        td(colspan="2").pa0.right.rightBorder.total(style="padding-right:10px")="总价：￥"+total.toFixed(2)
                                        td#submitOrder.center.vcenter.rightBorder.submitOrder="提交订单"
                            script.
                                $.fn.serializeJson = function () {
                                    var serializeObj = {};
                                    var array = this.serializeArray();
                                    var str = this.serialize();
                                    $(array).each(function () {
                                        if (serializeObj[this.name]) {
                                            if ($.isArray(serializeObj[this.name])) {
                                                serializeObj[this.name].push(this.value);
                                            } else {
                                                serializeObj[this.name] = [serializeObj[this.name], this.value];
                                            }
                                        } else {
                                            serializeObj[this.name] = this.value;
                                        }
                                    });
                                    return serializeObj;
                                };
                                $.extend($.fn.validatebox.defaults.rules, {
                                    jobNO: {
                                        validator: function (value) {
                                           return /^[0-9]{8}$/.test(value)
                                        },
                                        message: '工号必须是8位数字!'
                                    },
                                    cnName: {// 验证中文
                                          validator: function (value, param) {
                                                 var result = /^[\u4e00-\u9fa5]+$/.test(value);
                                                 if (result) {
                                                     var len = value.length;
                                                     if (len >= param[0] && len <= param[1]) {
                                                         return true;
                                                     } else {
                                                        return false;
                                                     }
                                                 } else {
                                                    return false;
                                                 }
                                          },
                                          message: '请输入{0}-{1}个汉字'
                                    }
                                });
                                $("#orderForm input[name=jobNO]").validatebox({
                                    required: true,
                                    missingMessage: "请输入您的工号!",
                                    validType:"jobNO",
                                    validateOnCreate: false
                                })
                                $("#orderForm input[name=name]").validatebox({
                                    required: true,
                                    missingMessage: "请输入您的姓名!",
                                    validateOnCreate: false,
                                    validType:'cnName[1,10]',
                                    invalidMessage:"请输入10字以内的汉字"
                                })
                                $("#dept").combo({
                                    width:180,
                                    editable:false,
                                    required:true,
                                    missingMessage:'请选择部门',
                                    validateOnCreate: false
                                });
                                $("#addessCombo").combobox({
                                    width:180,
                                    editable:false,
                                    panelHeight:130,
                                    required:true,
                                    missingMessage:'请选择地址',
                                    validateOnCreate: false,
                                    value:"",
                                    novalidate:true
                                });


                                $("#orderForm input[name=logistical]").click(function(){
                                    var val=$(this).val();
                                    if(val=="1"){
                                        $("#addess").show();
                                        $("#addessCombo").combobox("enableValidation");
                                        $("#since").hide();

                                    }else{
                                        $("#addessCombo").combobox("disableValidation").combobox("setValue","");
                                        $("#addess").hide();
                                        $("#since").show();
                                    }
                                })


                                var data =  !{JSON.stringify(deptList)};
                                var html=[];
                                for(var i=0;i<data.length;i++){
                                    html.push("<dl>");
                                    if(data[i].children&&data[i].children.length>0){
                                        html.push("<dt>"+data[i].name+"</dt>");
                                        for(var j=0;j<data[i].children.length;j++){
                                            html.push("<dd><label><input type='radio' name='dept' value='"+data[i].children[j].id+"' />"
                                                    +data[i].children[j].name+"</label></dd>");
                                        }
                                    }else{
                                        html.push("<dt><label><input type='radio' name='dept' value='"+data[i].id+"'/>"
                                                +data[i].name+"</label></dt>");
                                    }
                                    html.push("</dl>");
                                }
                                var deptPanel=$('#dept').combo('panel').append(html.join(""));
                                deptPanel.on("click","input[type=radio]",function() {
                                    var v = $(this).val();
                                    var s = $(this).parents('label').text();
                                    $('#dept').combo('setValue', v).combo('setText', s).combo('hidePanel');
                                });

                                var prodectSid =  '!{id}';
                                var prodectArr = !{JSON.stringify(prodects)};
                                var cart = new cart();
                                $("#submitOrder").click(function(){
                                    var self=$(this);
                                    if(self.hasClass("disabled")){
                                        return;
                                    }
                                    if ($("#orderForm").form("validate")) {
                                           var data=$("#orderForm").serializeJson();
                                            data.id=prodectSid.toString();
                                            self.addClass("disabled")
                                            $.post("/order/submitOrder",data,function(data){
                                                self.removeClass("disabled");
                                                if(!data.errMsg){
                                                    for(var i=0;i<prodectArr.length;i++){
                                                        cart.delProdect(prodectArr[i].prodectId,false);
                                                    }
                                                    cart.save();
                                                    $.messager.alert("提示","提交成功", "info");
                                                    window.location="/me";
                                                }else{
                                                    $.messager.alert("错误", data.errMsg, "error");
                                                }
                                            })
                                    }
                                })
        include footer